:host {
    width: 60%;
}

.main-container {
    height: 80px;
    cursor: pointer;
    border: solid 1px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8a8a8a;
    color: #ffffff;
}

div {
    text-align: center;
}

h3 {
    color: #555555;
}
