<div class="container">
  <h1>Fedir Vakhula</h1>

  <p>Ukraine, Lviv</p>
  <p>Cell: 066-211-90-94</p>
  <div class="displey-row">
    <p>Email:</p>
    <a href="mailto:vfedir@gmail.com">vfedir@gmail.com</a>
  </div>
  <p>Skype: fedir_lviv</p>
  <div class="displey-row">
    <p>Git:</p>
    <a href="https://github.com/FedirVakhula" target="_blank">https://github.com/FedirVakhula</a>
  </div>
  <p>English: pre intermediate</p>
  <hr>
  <div class="displey-row">
    <h3>OBJECTIVE:</h3>
    <h4>Front End developer</h4>
  </div>
  <hr>
  <h3>SUMMARY OF QUALIFICATIONS:</h3>
  <p>Hand-on experience in Front-end development.</p>
  <p>Abilities: to learn new technologies and challenging concepts quickly.
    Skills: good communication, analytical, problem solving, decision-making, criticism perception, negotiation.
  </p>
  <hr>
  <h3>TECHNICAL SKILLS:</h3>
  <ul>
    <li>Programming: Java Script, HTML, CSS3, Scss, Type Script, Angular 2+, RxJS.</li>
    <li>Tools: Chrome DevTools, SourceTree, Git-hub, Visual studio, Postman.</li>
  </ul>
  <hr>
  <h3>EXPERIENCE:</h3>
  <div class="displey-row">
    <div>
      <h4>2019</h4>
    </div>
    <div>
      <h4> Task execution: codewars.com </h4>
      <a href="https://www.codewars.com/users/vfedir@gmail.com"
        target="_blank">https://www.codewars.com/users/vfedir@gmail.com</a>
      <h4>Task execution: EPAM Homework </h4>
      <a href="https://github.com/FedirVakhula/FL-11" target="_blank">https://github.com/FedirVakhula/FL-11</a>
      <h4>My project</h4>
      <a href="https://fedirvakhula.github.io/doctor-project/home">doctor-project</a>
    </div>
  </div>
  <div class="displey-row">
    <div>
      <h4>2019</h4>
    </div>
    <div>
      <h4>
        I worked with a project that was created on Angular 8. In the project:
      </h4>
      <ul>
        <li>used routing to display the corresponding components</li>
        <li>created components, services, guards</li>
        <li>http requests (used main crud operations: get/post/put/delete)</li>
        <li>used the rxjs library to work with asynchronous code, user interaction and backend requests (observables,
          operators Subject)</li>
        <li>reactive forms for dynamic data processing</li>
        <li>I was involved in creating authorization form that defines which page should be shown</li>
      </ul>
    </div>
  </div>
  <hr>
  <h3>EDUCATION:</h3>
  <p>2019 On-line course of Front-End in EPAM</p>
  <p>2005 B.A. degree in Management, Lviv Institute of Management, Ukraine</p>
</div>