.container-header {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

li {
    list-style: none;
}

.router-outlet {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
}

header {
    height: 15vh;
    text-align: center;
    background: #8a8a8a;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
}

p {
    text-align: center;
}

footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    background: #8a8a8a;
    color: #ffffff;
}