<header>
  <ul class="container-header">
    <li><a routerLink="/home">HOME</a></li>
    <li><a (click)="chooseNews()">NEWS</a></li>
    <li><a routerLink="/profile">PROFILE </a></li>
    <li><a href="https://wwwest.solutions" target="_blank">PARTNER</a></li>
    <li><a routerLink="/about">ABOUT</a></li>
    <li><a routerLink="/login">LOGIN</a></li>
  </ul>
</header>
<div class="main-container">
  <div class="router-outlet">
    <router-outlet>
    </router-outlet>
  </div>
  <div class="login">
  </div>
</div>
<footer>
  <p>created by Fedir Vakhula</p>
</footer>