:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    width: 100%;
    text-align: center;
    color: #555555;
}
.main-conteiner {
    height: 200px;
    width: 300px;
    border: solid 1px;
    margin: 20px;
    padding: 15px;
    background: #8a8a8a;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.information {
    color: #555555;
}